apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: ondc-infra
  labels:
    app: postgres
    app.kubernetes.io/part-of: ondc
spec:
  clusterIP: None
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
