apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: ondc-infra
  labels:
    app: rabbitmq
    app.kubernetes.io/part-of: ondc
spec:
  clusterIP: None
  selector:
    app: rabbitmq
  ports:
    - port: 5672
      targetPort: 5672
      name: amqp
    - port: 15672
      targetPort: 15672
      name: management
